.jumbotron {
  padding-top: 6rem;
  background-color: #83ef9a;
}

#projects {
  background-color: #83ef9a;
}
.projects .container {
  background-color: #ffffff;
}
.projects .container .row h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
a {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-decoration: none;
}
section {
  padding-top: 6rem;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
