.jumbotron {
  padding-top: 6rem;
  background-color: #83ef9a;
}

#projects {
  background-color: #83ef9a;
}
.projects .container {
  background-color: #ffffff;
}
.projects .container .row h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
a {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-decoration: none;
}
section {
  padding-top: 6rem;
}
p {
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}
h5 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  font-size: 30px;
}
h1 {
  font-family: "Times New Roman", Times, serif;
}
h2 {
  font-family: "Times New Roman", Times, serif;
}
h3 {
  position: relative;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  font-weight: bold;
  color: rgba(225, 17, 31, 0.484);
}
h3 span {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30px;
  color: #0b2aef;
  display: none;
}
section .contact .container .row .col li {
  display: inline-block;
  align-items: center;
  justify-content: space-between;
}
.project1 {
  background-color: #9bd3d1;
}
.project1 .container .row .col img {
  height: 40%;
  width: 60%;
}
.project2 .container .row .col img {
  height: 60%;
  width: 60%;
}
.project3 .container .row .col img {
  height: 60%;
  width: 60%;
}
.project4 .container .row .col img {
  height: 40%;
  width: 60%;
}
.project5 .container .row .col img {
  height: 50%;
  width: 60%;
}
.project6 .container .row .col img {
  height: 50%;
  width: 60%;
}
